<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name="com.habitrpg.android.habitica.helpers.notifications.UnifiedPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.unifiedpush.android.MESSAGE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
